@page "/Articles"
@inject IArticleService _articleService;
<h3>Articles</h3>

@code {
    private List<Article> ArticlesList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ArticlesList = await _articleService.GetArticles();
    }
}
@if(ArticlesList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        @foreach (var article in ArticlesList)
        {
            <div class="row">
                <div class="col-md">
                    <h2>@article.Title</h2>
                </div>
                <div class ="col-sm">
                   <a href ="/EditArticle/@article.Id" class="btn btn-primary"><span class = "oi oi-pencil"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class = "text-muted">@article.Created</p>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    @article.Text
                </div>
            </div>
        }
    </div>
    
}
